<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Members</h2>
                    <!--h3 class="section-subheading text-muted">Group Leader</h3-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Group Leader</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 portfolio-item"></div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="https://www.research.manchester.ac.uk/portal/angelo.cangelosi.html" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <center><img src="img/portfolio/cangelosi_2012.jpg" class="img-responsive" alt=""></center>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Angelo Cangelosi</h4>
                        <p class="text-muted">Professor of Machine Learning & Robotics</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item"></div>                
             </div>


            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Postdoctoral Researchers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 portfolio-item"></div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Gi Hyun Lim</h4>
                        <!--p class="text-muted">Professor of Machine Learning & Robotics</p-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item"></div>                
             </div>






            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">PhD Students</h2>
                </div>
            </div>

             <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Mohammad Thabet</h4>
                        <!--p class="text-muted">Multimedia Creation</p-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Samuele Vinanzi</h4>
                        <!--p class="text-muted">Web Design / Wordpress</p-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Marta Romeo</h4>
                        <!--p class="text-muted">Web Design / Wordpress</p-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://www.research.manchester.ac.uk/portal/gabriella.pizzuto.html" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Gabriella Pizzuto</h4>
                        <!--p class="text-muted">Web Design / Wordpress</p-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://www.research.manchester.ac.uk/portal/baris.serhan.html" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Baris Serhan</h4>
                        <!--p class="text-muted">Web Design / Wordpress</p-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://jonnybluesman.github.io/" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Jacopo de Berardinis</h4>
                        <!--p class="text-muted">Web Design / Wordpress</p-->
                    </div>
                </div>

            </div>




            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Visiting Scholars</h2>
                </div>
            </div>

             <div class="row">

                <div class="col-md-3 col-sm-3 portfolio-item"></div>
                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Debora Zanatto</h4>
                        <p class="text-muted">Plymouth University</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 portfolio-item">
                    <a href="https://jgvictores.github.io/" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/profile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Juan G Victores</h4>
                        <p class="text-muted">Universidad Carlos III de Madrid</p>
                    </div>
                </div>
<div class="col-md-3 col-sm-3 portfolio-item"></div>
                
            </div>



        </div>
    </section>
