<!-- Projects Section -->
<!-- Please read /README.md#how-to-addmodify-a-project -->
    <section id="projects" class="bg-png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Research Projects</h3>
                </div>
            </div>

            <!--div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">Ongoing Research Projects</h2>
                </div>
            </div-->

            <div class="row">


                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="https://thrivemanchesteruniversity.wordpress.com/" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/thrive.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Thrive++</h4>
                        <p class="text-muted"><!--Uncertain Robotic Environments--></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="https://trust.tas.ac.uk/" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/trust.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>UKRI TAS Trust Node</h4>
                        <p class="text-muted"><!--Uncertain Robotic Environments--></p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="https://www.ntnu.edu/e-ladda/e-ladda" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/e-ladda.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>MSCA ITN e-LADDA</h4>
                        <p class="text-muted"><!Develop a cognitive architecture for a robotic tutor to teach linguistic concepts to pre-school children using robot-supported embodiment approaches.></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="http://www.movecare-project.eu/" class="projects-link" data-toggle="modal"><!--href-->
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/movecare.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>MoveCare</h4>
                        <p class="text-muted"><!Multiple-Actors Virtual Empathic Caregiver for the Elder></p>
                    </div>
                </div>



                <div class="col-md-4 col-sm-4 projects-item">
                    <a class="projects-link" data-toggle="modal"><!--href-->
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/decifer.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>DeCIFER</h4>
                        <p class="text-muted"><!Developmental Collaborative Intelligence For Embodied Robotic agents, in collaboration with Honda Research Institute></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="https://secure-robots.eu/" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/secure.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>SECURE</h4>
                        <p class="text-muted"><!--Safety Enables Cooperation in Uncertain Robotic Environments--></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="http://www.dcomm.eu/" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/dcomm.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>DComm</h4>
                        <p class="text-muted"><!Deictic Communication></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 projects-item">
                    <a href="https://strona-msca.github.io/" class="projects-link" data-toggle="modal"><!--href-->
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/strona.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>STRoNA</h4>
                        <p class="text-muted"><!Spatio-Temporal Representation on Neuromorphic Architecture></p>
                    </div>
                </div>

            </div>


        </div>
    </section>
