<!-- Robots Section -->
<!-- Please read /README.md#how-to-addmodify-a-robot -->
    <section id="robots">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Robots</h2>
                    <h3 class="section-subheading text-muted">Robots we have at our lab</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/default.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>iCub</h4>
                                    <h4 class="subheading">iCub Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                           The iCub robot is a humanoid robot having around the dimensions of a three-and-a-half-year-old child. The prototype, of height 100 cm and weight 23 kg, valued €200K, incorporates 53 DoFs (Degrees of Freedom) for moving the head, arms & hands, waist and legs, compliant actuators and sensors which communicate with an on-board PC104 controller using CanBus. The skin in forearms and hand palms allows for tactile HRI and fine object manipulation. The head has stereo cameras in a swivel mounting where eyes would be located on the human head and microphones on the side, to replace the ears. It also has lines of red LEDs representing mouth and eyebrows mounted behind the face panel for making facial expressions and expressing emotions. 
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                          The robot is already capable of eye and head motion, leg and body movement using accelerometers and gyroscopes, object recognition and a grasping movement of small objects, crawling, solving complex 3D mazes, collision avoidance within non-static environments and self-collision avoidance.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            iCub is an open systems platform for research in robotics, AI, and cognitive science. YARP (Yet Another Robot Platform) is the software that represents the nervous system of the iCub humanoid robot.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/default.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robot 2</h4>
                                    <h4 class="subheading">Robot 2 Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                            Bullet point 1
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Bullet point 2
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Bullet point 3
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/default.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robot 3</h4>
                                    <h4 class="subheading">Robot 3 Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                            Bullet point 1
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Bullet point 2
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Bullet point 3
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/default.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robot 4</h4>
                                    <h4 class="subheading">Robot 4 Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>    
                                            <p class="text-muted">
                                            Bullet point 1
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Bullet point 2
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Bullet point 3
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul><!-- class="timeline" -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
