<!-- Robots Section -->
<!-- Please read /README.md#how-to-addmodify-a-robot -->
    <section id="robots">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Robots</h2>
                    <h3 class="section-subheading text-muted">Robots we have at our lab</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/iCub.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>iCub</h4>
                                    <h4 class="subheading">iCub Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            <p class="text-muted">
                                           The iCub robot is a humanoid robot having around the dimensions of a three-and-a-half-year-old child. The prototype, of height 100 cm and weight 23 kg, valued €200K, incorporates 53 DoFs (Degrees of Freedom) for moving the head, arms & hands, waist and legs, compliant actuators and sensors which communicate with an on-board PC104 controller using CanBus. The skin in forearms and hand palms allows for tactile HRI and fine object manipulation. The head has stereo cameras in a swivel mounting where eyes would be located on the human head and microphones on the side, to replace the ears. It also has lines of red LEDs representing mouth and eyebrows mounted behind the face panel for making facial expressions and expressing emotions.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                          The robot is already capable of eye and head motion, leg and body movement using accelerometers and gyroscopes, object recognition and a grasping movement of small objects, crawling, solving complex 3D mazes, collision avoidance within non-static environments and self-collision avoidance.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            iCub is an open systems platform for research in robotics, AI, and cognitive science. YARP (Yet Another Robot Platform) is the software that represents the nervous system of the iCub humanoid robot.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/sawyer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sawyer</h4>
                                    <h4 class="subheading">Sawyer Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            <p class="text-muted">
                                            Sawyer is the revolutionary collaborative robot designed to execute tasks that have been impractical to automate with traditional industrial robots.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            Sawyer features a 7 degree of freedom robot arm with a 1260 mm reach that maneuvers into tight spaces and operates in work cells designed for humans. Built-in force sensing capabilities allow it to make adaptive decisions as tasks run, enabling Sawyer to work precisely (+/- .1 mm), while operating safely next to people.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            https://www.rethinkrobotics.com/sawyer/
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/Pepper.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pepper</h4>
                                    <h4 class="subheading">Pepper Robot Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            <p class="text-muted">
                                            Pepper is the world’s first social humanoid robot able to recognize faces and basic human emotions. Pepper was optimized for human interaction and is able to engage with people through conversation and his touch screen.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                              A robot designed to interact with humans. Standing 120cm tall, Pepper has no trouble in perceiving his environment and entering into a conversation when he sees a person. The touch screen on his chest displays content to highlight messages and support speech. His curvy design ensures danger-free use and a high level of acceptance by users.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            https://www.softbankrobotics.com/emea/en/pepper
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/NAO.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>NAO</h4>
                                    <h4 class="subheading">NAO Robot Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            <p class="text-muted">
                                              NAO is the first robot created by SoftBank Robotics. Famous around the world, NAO is a tremendous programming tool and he has especially become a standard in education and research. NAO is also used as an assistant by companies and healthcare centers to welcome, inform and entertain visitors.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            58cm in height, NAO is a bipedal robot with pleasantly rounded features. 25 degrees of freedom which enable him to move and adapt to his environment. 7 touch sensors located on the head, hands and feet, sonars and an inertial unit to perceive his environment and locate himself in space. 4 directional microphones and speakers to interact with humans. Two 2D cameras to recognize shapes, objects and even people. Open and fully programmable platform.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            https://www.softbankrobotics.com/emea/en/nao
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robots/Furhat.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Furhat</h4>
                                    <h4 class="subheading">Furhat Robot Description</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>
                                            <p class="text-muted">
                                              Furhat is a social robot that communicates with us humans as we do with each other - by speaking, listening, showing emotions and maintaining eye contact. This advanced research platform is used for Artificial Intelligence (AI), Human Robot Interaction (HRI), Cognition and Healthcare.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                            https://furhatrobotics.com/
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        

                        <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/robots/Franka Research 3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Franka Research 3</h4>
                                <h4 class="subheading">Franka Panda Description</h4>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>
                                        <p class="text-muted">
                                        FRANKA research 3 is a robotic arm developed by Franka Emika, designed for research and educational purposes in robotics and automation.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                        It features a seven-axis design, allowing for high flexibility and dexterity in performing various tasks. The arm is known for its sensitive force-torque sensors, advanced safety features, and easy programmability, making it suitable for human-robot collaboration and a wide range of research applications.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                        https://franka.de/
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    </ul><!-- class="timeline" -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
